{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.nom_entreprise) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.code_postal) }}
    {{ form_row(form.site_web) }}
    {{ form_row(form.social) }}
    {{ form_row(form.logo) }}
    {{ form_row(form.password) }}
<button type="submit">S'inscrire</button>
{{ form_end(form) }}